Repository dotnet/diagnostics, pull requests merged in 2019-05, with the labels that each got.

#238 Update docs for preview 5.
  README.md
  documentation/building/windows-instructions.md
  documentation/dotnet-dump-instructions.md
  documentation/dotnet-trace-instructions.md
  documentation/installing-sos-instructions.md
  documentation/installing-sos-windows-instructions.md
Labels: documentation

#229 Fix missing metadata in Linux core dumps.
  src/SOS/SOS.Hosting/LLDBServicesWrapper.cs
  src/SOS/SOS.NETCore/MetadataHelper.cs
  src/SOS/SOS.NETCore/SymbolReader.cs
  src/SOS/Strike/datatarget.cpp
  src/SOS/Strike/datatarget.h
  src/SOS/Strike/disasmARM64.cpp
  src/SOS/Strike/dllsext.cpp
  src/SOS/Strike/gchist.cpp
  src/SOS/Strike/hostcoreclr.cpp
  src/SOS/Strike/hostcoreclr.h
  src/SOS/Strike/sos.cpp
  src/SOS/Strike/soshostservices.h
  src/SOS/Strike/strike.cpp
  src/SOS/Strike/util.cpp
  src/SOS/Strike/util.h
  src/SOS/lldbplugin/services.cpp
Labels: dotnet-dump, dotnet-sos

#219 Dotnet counters doc
  README.md
  documentation/design-docs/dotnet-tools.md
  src/Tools/dotnet-counters/README.md
Labels: documentation, dotnet-counters

#252 Terminate dotnet-trace when the runtime closes the eventpipe
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: dotnet-trace

#253 [dotnet-counters] Make refresh-interval optional
  src/Tools/dotnet-counters/Program.cs
Labels: dotnet-counters

#257 Generate core dump diagnostic server command
  documentation/dotnet-dump-instructions.md
  src/Microsoft.Diagnostics.Tools.RuntimeClient/DiagnosticHelpers.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Eventing/DiagnosticMessageType.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Eventing/EventPipeClient.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Extensions.cs
  src/Tools/dotnet-dump/Dumper.Linux.cs
  src/Tools/dotnet-dump/Dumper.Windows.cs
  src/Tools/dotnet-dump/Dumper.cs
  src/Tools/dotnet-dump/Program.cs
  src/Tools/dotnet-dump/dotnet-dump.csproj
Labels: dotnet-dump

#248 Download and register DAC with CLRMD
  documentation/dotnet-dump-instructions.md
  documentation/installing-sos-instructions.md
  src/SOS/SOS.Hosting/AssemblyResolver.cs
  src/SOS/SOS.Hosting/LLDBServicesWrapper.cs
  src/SOS/SOS.Hosting/SOSHost.cs
  src/SOS/SOS.NETCore/SymbolReader.cs
  src/SOS/Strike/Strike.vcxproj
  src/SOS/Strike/Strike.vcxproj.filters
  src/SOS/Strike/hostcoreclr.cpp
  src/SOS/Strike/hostcoreclr.h
  src/SOS/Strike/sos.def
  src/SOS/Strike/sos_unixexports.src
  src/SOS/Strike/soshostservices.h
  src/Tools/dotnet-dump/AnalyzeContext.cs
  src/Tools/dotnet-dump/Analyzer.cs
  src/Tools/dotnet-dump/Commands/ClrModulesCommand.cs
  src/Tools/dotnet-dump/dotnet-dump.csproj
Labels: diagnostic global tooling

#262 New tutorial scenario
  documentation/tutorial/README.md
  documentation/tutorial/intermittent_memory_spike.md
  documentation/tutorial/src/triggerdump/CounterPayload.cs
  documentation/tutorial/src/triggerdump/Program.cs
  documentation/tutorial/src/triggerdump/runtimeconfig.template.json
  documentation/tutorial/src/triggerdump/triggerdump.csproj
Labels: documentation

#243 Add list-processes command to dotnet-counters
  src/Tools/dotnet-counters/Program.cs
Labels: dotnet-counters, enhancement

#198 IPC protocol spec
  documentation/design-docs/ipc-protocol-genericflow.svg
  documentation/design-docs/ipc-protocol.md
Labels: documentation

#281 Update dotnet-counters link to docs
  README.md
Labels: documentation

#271 Add Diagnostic Ipc client
  src/Microsoft.Diagnostics.Tools.RuntimeClient/DiagnosticHelpers.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/DiagnosticsIpc/IpcClient.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/DiagnosticsIpc/IpcCommands.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/DiagnosticsIpc/IpcHeader.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/DiagnosticsIpc/IpcMessage.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Eventing/EventPipeClient.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Eventing/SessionConfiguration.cs
  src/Tools/dotnet-dump/Dumper.cs
Labels: Microsoft.Diagnostics.Tools.RuntimeClient, dotnet-counters, dotnet-dump, dotnet-trace, enhancement

#282 Missing profile argument
  documentation/dotnet-trace-instructions.md
Labels: documentation

#290 Ipc spec update
  documentation/design-docs/ipc-protocol.md
Labels: documentation

#293 Exception in dotnet-counter does not crash the app
  src/Tools/dotnet-counters/CounterMonitor.cs
Labels: dotnet-counters
