Repository dotnet/diagnostics, pull requests merged in 2019-10, with the labels that each got.

#514 Initial commit of dotnet trace provider tests
  .gitignore
  diagnostics.sln
  src/Tools/dotnet-trace/dotnet-trace.csproj
  src/tests/dotnet-trace/DotnetTrace.UnitTests.csproj
  src/tests/dotnet-trace/ProviderParsing.cs
Labels: dotnet-trace, testing

#541 [test] Profile-Provider Merging Tests
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Eventing/Provider.cs
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
  src/Tools/dotnet-trace/Profile.cs
  src/tests/dotnet-trace/ProfileProviderMerging.cs
Labels: diagnostic global tooling, testing

#579 Fix incorrect description of CreateCoreDump command - diagnostics argument
  documentation/design-docs/ipc-protocol.md
Labels: documentation

#582 Update benchmarkdotnet version to 0.12.0
  src/tests/benchmarks/benchmarks.csproj
Labels: testing

#583 Fix incorrect value displayed for rate counters
  src/Tools/dotnet-counters/CounterPayload.cs
  src/tests/dotnet-counters/CSVExporterTests.cs
  src/tests/dotnet-counters/JSONExporterTests.cs
Labels: dotnet-counters
