Repository dotnet/diagnostics, pull requests merged in 2019-04, with the labels that each got.

#154 [dotnet-trace] Making tool up to spec.
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Eventing/DiagnosticMessageType.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Eventing/EventPipeClient.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Eventing/EventPipeSessionType.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Eventing/MessageHeader.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Eventing/Provider.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Eventing/SessionConfiguration.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Extensions.cs
  src/Tools/dotnet-counters/CounterMonitor.cs
  src/Tools/dotnet-counters/dotnet-counters.csproj
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
  src/Tools/dotnet-trace/CommandLine/Commands/StartCommandHandler.cs
  src/Tools/dotnet-trace/CommandLine/Commands/StopCommandHandler.cs
  src/Tools/dotnet-trace/CommandLine/Commands/StreamCommand.cs
  src/Tools/dotnet-trace/CommandLine/Options/CommonOptions.cs
  src/Tools/dotnet-trace/Extensions.cs
  src/Tools/dotnet-trace/Program.cs
  src/Tools/dotnet-trace/build.sh
  src/tests/Microsoft.Diagnostics.Tools.RuntimeClient/Program.cs
  src/tests/Microsoft.Diagnostics.Tools.RuntimeClient/TestProvider.cs
  src/tests/Microsoft.Diagnostics.Tools.RuntimeClient/TestSessionConfiguration.cs
  src/tests/Microsoft.Diagnostics.Tools.RuntimeClient/eventpipetests.csproj
Labels: dotnet-trace

#156 [dotnet-trace] More changes to make tool ready for preview5
  documentation/design-docs/dotnet-tools.md
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Eventing/EventPipeClient.cs
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
  src/Tools/dotnet-trace/CommandLine/Commands/StartCommandHandler.cs
  src/Tools/dotnet-trace/CommandLine/Commands/StopCommandHandler.cs
  src/Tools/dotnet-trace/CommandLine/Options/CommonOptions.cs
  src/Tools/dotnet-trace/Program.cs
  src/tests/Microsoft.Diagnostics.Tools.RuntimeClient/Program.cs
  src/tests/Microsoft.Diagnostics.Tools.RuntimeClient/eventpipetests.csproj
Labels: dotnet-trace, enhancement

#155 Add ctrl c handler and modify enter key handler to be non-blocking
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: dotnet-trace, enhancement

#159 Change ResetCurrentConsoleLine() to use explicit ANSI escape codes
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
  src/Tools/dotnet-trace/dotnet-trace.csproj
Labels: bug, dotnet-trace

#161 dotnet-trace instructions draft and misc.
  README.md
  documentation/design-docs/dotnet-tools.md
  documentation/dotnet-trace-instructions.md
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Microsoft.Diagnostics.Tools.RuntimeClient.csproj
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
  src/Tools/dotnet-trace/CommandLine/Commands/EndPointsCommandHandler.cs
  src/Tools/dotnet-trace/CommandLine/Options/CommonOptions.cs
  src/Tools/dotnet-trace/Program.cs
  src/Tools/dotnet-trace/dotnet-trace.csproj
Labels: documentation, dotnet-trace

#172 [dotnet-trace] Adding --profile options and minor fixes.
  documentation/dotnet-trace-instructions.md
  src/Common.props
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Eventing/Provider.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Microsoft.Diagnostics.Tools.RuntimeClient.csproj
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
  src/Tools/dotnet-trace/CommandLine/Commands/ProfilesCommandHandler.cs
  src/Tools/dotnet-trace/CommandLine/Commands/ProvidersCommandHandler.cs
  src/Tools/dotnet-trace/CommandLine/Commands/StopCommandHandler.cs
  src/Tools/dotnet-trace/Extensions.cs
  src/Tools/dotnet-trace/Profile.cs
  src/Tools/dotnet-trace/Program.cs
  src/Tools/dotnet-trace/dotnet-trace.csproj
  src/Versions.props
Labels: dotnet-trace, enhancement

#171 Speedscope format
  documentation/design-docs/dotnet-tools.md
  documentation/dotnet-trace-instructions.md
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
  src/Tools/dotnet-trace/CommandLine/Options/CommonOptions.cs
  src/Tools/dotnet-trace/TraceFileFormatConverter.cs
Labels: dotnet-trace, enhancement

#173 [dotnet-trace] Small changes
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
  src/Tools/dotnet-trace/CommandLine/Commands/ProfilesCommandHandler.cs
  src/Tools/dotnet-trace/CommandLine/Options/CommonOptions.cs
  src/Tools/dotnet-trace/Extensions.cs
Labels: dotnet-trace

#175 Updating gc/gc-collect options to map PerfView flags.
  src/Tools/dotnet-trace/CommandLine/Commands/ProfilesCommandHandler.cs
Labels: dotnet-trace, enhancement

#178 Temporarily disable gc profiles.
  src/Tools/dotnet-trace/CommandLine/Commands/ProfilesCommandHandler.cs
Labels: bug, dotnet-trace

#192 Renaming non-spec options on dotnet-trace
  documentation/design-docs/dotnet-tools.md
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
  src/Tools/dotnet-trace/CommandLine/Commands/ListProcessesCommandHandler.cs
  src/Tools/dotnet-trace/CommandLine/Commands/ListProfilesCommandHandler.cs
  src/Tools/dotnet-trace/Program.cs
Labels: dotnet-trace

#196 Add Convert command
  documentation/design-docs/dotnet-tools.md
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
  src/Tools/dotnet-trace/CommandLine/Commands/ConvertCommand.cs
  src/Tools/dotnet-trace/CommandLine/Options/CommonOptions.cs
  src/Tools/dotnet-trace/Program.cs
  src/Tools/dotnet-trace/TraceFileFormatConverter.cs
Labels: dotnet-trace, enhancement

#218 Fixing dotnet-counters list command
  src/Tools/dotnet-counters/Program.cs
Labels: dotnet-counters

#224 Ignore any provider specified via --profile option if they are already specified with --providers option
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: dotnet-trace
