Repository dotnet/diagnostics, pull requests merged in 2019-06, with the labels that each got.

#299 Display unknown EventSource's provider name properly
  src/Tools/dotnet-counters/ConsoleWriter.cs
  src/Tools/dotnet-counters/CounterMonitor.cs
Labels: dotnet-counters

#300 Do not display exception on graceful exit case
  src/Tools/dotnet-counters/CounterMonitor.cs
Labels: dotnet-counters

#304 Make sure we have the right exit code for dotnet-trace collect
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
  src/Tools/dotnet-trace/CommandLine/Commands/ErrorCode.cs
Labels: bug, dotnet-trace

#308 Fix dotnet-counters to not throw on list-processes command
  src/Tools/dotnet-counters/Program.cs
Labels: dotnet-counters

#301 Offer visual cues for monitor status
  src/Tools/dotnet-counters/ConsoleWriter.cs
  src/Tools/dotnet-counters/CounterMonitor.cs
Labels: dotnet-counters

#309 Add new counters to list
  src/Tools/dotnet-counters/ConsoleWriter.cs
  src/Tools/dotnet-counters/CounterMonitor.cs
  src/Tools/dotnet-counters/KnownData.cs
Labels: dotnet-counters

#312 Do not print elevated processes' FileName
  src/Tools/dotnet-counters/Program.cs
  src/Tools/dotnet-trace/CommandLine/Commands/ListProcessesCommandHandler.cs
Labels: diagnostic global tooling

#320 Clear out correct length for counter value
  src/Tools/dotnet-counters/ConsoleWriter.cs
Labels: dotnet-counters

#315 Change default transport name to align with spec
  src/Microsoft.Diagnostics.Tools.RuntimeClient/DiagnosticsIpc/IpcClient.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Eventing/EventPipeClient.cs
Labels: diagnostic global tooling

#349 Fix width of trace recording to be constant
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: dotnet-trace

#353 Update tools to use the newer NetTrace EventPipe format
  documentation/design-docs/dotnet-tools.md
  documentation/design-docs/ipc-protocol.md
  documentation/dotnet-trace-instructions.md
  documentation/tutorial/app_running_slow_highcpu.md
  documentation/tutorial/installing_the_diagnostics_tools.md
  eng/Versions.props
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Eventing/SessionConfiguration.cs
  src/Tools/dotnet-analyze/Program.cs
  src/Tools/dotnet-counters/CounterMonitor.cs
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
  src/Tools/dotnet-trace/CommandLine/Commands/ConvertCommand.cs
  src/Tools/dotnet-trace/CommandLine/Options/CommonOptions.cs
  src/Tools/dotnet-trace/TraceFileFormatConverter.cs
  src/tests/Microsoft.Diagnostics.Tools.RuntimeClient/Program.cs
Labels: diagnostic global tooling

#361 Standardize license header for all C# files
  src/Microsoft.Diagnostics.Repl/Command/Attributes.cs
  src/Microsoft.Diagnostics.Repl/Command/CommandBase.cs
  src/Microsoft.Diagnostics.Repl/Command/CommandProcessor.cs
  src/Microsoft.Diagnostics.Repl/Console/CharToLineConverter.cs
  src/Microsoft.Diagnostics.Repl/Console/ConsoleProvider.cs
  src/Microsoft.Diagnostics.Repl/Console/OutputType.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/DiagnosticsIpc/IpcClient.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/DiagnosticsIpc/IpcCommands.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/DiagnosticsIpc/IpcHeader.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/DiagnosticsIpc/IpcMessage.cs
  src/Tools/Common/CommandLineException.cs
  src/Tools/Common/ConsoleCancellation.cs
  src/Tools/Common/DebugUtil.cs
  src/Tools/dotnet-analyze/AnalysisSession.cs
  src/Tools/dotnet-analyze/AsyncHangAnalyzer.cs
  src/Tools/dotnet-analyze/ClrMdExtensions.cs
  src/Tools/dotnet-analyze/CommandProcessor.cs
  src/Tools/dotnet-analyze/Commands/DumpCommandBase.cs
  src/Tools/dotnet-analyze/Commands/DumpHeapCommand.cs
  src/Tools/dotnet-analyze/Commands/DumpStackCommand.cs
  src/Tools/dotnet-analyze/Commands/EventStackCommand.cs
  src/Tools/dotnet-analyze/Commands/IAnalysisCommand.cs
  src/Tools/dotnet-analyze/Commands/InfoCommand.cs
  src/Tools/dotnet-analyze/Commands/LogsCommand.cs
  src/Tools/dotnet-analyze/Commands/RequestsCommand.cs
  src/Tools/dotnet-analyze/Commands/ThreadsCommand.cs
  src/Tools/dotnet-analyze/Commands/TraceCommandBase.cs
  src/Tools/dotnet-analyze/LogMessage.cs
  src/Tools/dotnet-analyze/MemoryDump.cs
  src/Tools/dotnet-analyze/Program.cs
  src/Tools/dotnet-dump/AnalyzeContext.cs
  src/Tools/dotnet-dump/Analyzer.cs
  src/Tools/dotnet-dump/Commands/ClrModulesCommand.cs
  src/Tools/dotnet-dump/Commands/ExitCommand.cs
  src/Tools/dotnet-dump/Commands/HelpCommand.cs
  src/Tools/dotnet-dump/Commands/ModulesCommand.cs
  src/Tools/dotnet-dump/Commands/SOSCommand.cs
  src/Tools/dotnet-dump/Commands/SOSCommandForWindows.cs
  src/Tools/dotnet-dump/Commands/SetThreadCommand.cs
  src/Tools/dotnet-dump/Dumper.Linux.cs
  src/Tools/dotnet-dump/Dumper.Windows.cs
  src/Tools/dotnet-dump/Dumper.cs
  src/Tools/dotnet-dump/Program.cs
  src/Tools/dotnet-sos/Program.cs
  src/Tools/dotnet-trace/CommandLine/Commands/ErrorCode.cs
  src/Tools/dotnet-trace/Profile.cs
Labels: diagnostic global tooling

#362 Remove OutputPath from EventPipe Collect command
  documentation/design-docs/ipc-protocol.md
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Eventing/SessionConfiguration.cs
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Extensions.cs
  src/Tools/dotnet-counters/CounterMonitor.cs
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: diagnostic global tooling, documentation, dotnet-trace

#364 Add Ctrl-C handler for dotnet-counters
  src/Tools/dotnet-counters/CounterMonitor.cs
Labels: dotnet-counters

#365 dotnet-monitor: Use CommandHandler CancellationToken for SIGINT detection
  src/Tools/dotnet-counters/CounterMonitor.cs
Labels: dotnet-counters

#367 Using CancellationToken in dotnet-trace
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: dotnet-trace

#371 Avoid unnecessary allocation & better error message on file exists error
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: dotnet-trace
