Repository dotnet/diagnostics, pull requests merged in 2019-09, with the labels that each got.

#455 Make a different option to change the default format for convert command
  src/Tools/dotnet-trace/CommandLine/Commands/ConvertCommand.cs
  src/Tools/dotnet-trace/CommandLine/Options/CommonOptions.cs
Labels: dotnet-trace

#453 Add duration option to dotnet-trace
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: dotnet-trace

#468 Fix nullref thrown in System.CommandLine for dotnet-trace collect
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: bug, dotnet-trace

#441 Make gc/gc-collect profiles available
  src/Tools/dotnet-trace/CommandLine/Commands/ListProfilesCommandHandler.cs
Labels: dotnet-trace

#476 Show warning when providers are specified via GUID
  src/Tools/dotnet-trace/Extensions.cs
  src/Tools/dotnet-trace/trace.speedscope.json
Labels: dotnet-trace

#482 Publish SOS symbols
  .vsts-dotnet.yml
  diagnostics.sln
  eng/build-native.sh
  eng/build.sh
  eng/cibuild.sh
  src/SOS/SOS.Package/SOS.Package.csproj
  src/SOS/SOS.Package/SOS.Symbol.Package.csproj
  src/Tools/Directory.Build.props
Labels: engineering

#475 Counter benchmark tests
  src/tests/benchmarks/.gitignore
  src/tests/benchmarks/Program.cs
  src/tests/benchmarks/README.md
  src/tests/benchmarks/RunBenchmarks.cmd
  src/tests/benchmarks/RunBenchmarks.sh
  src/tests/benchmarks/benchmarks.csproj
Labels: testing

#492 Fix a timeout exception causing unhandled exception crash
  src/Tools/dotnet-counters/CounterMonitor.cs
Labels: dotnet-counters
