Repository dotnet/diagnostics, pull requests merged in 2019-11, with the labels that each got.

#512 Add initial spec for gcheap dump tool
  documentation/design-docs/dotnet-tools.md
Labels: diagnostic global tooling, documentation

#581 dotnet-gcdump
  THIRD-PARTY-NOTICES.TXT
  documentation/dotnet-gcdump-instructions.md
  src/Tools/dotnet-gcdump/CommandLine/CollectCommandHandler.cs
  src/Tools/dotnet-gcdump/CommandLine/ProcessStatusCommandHandler.cs
  src/Tools/dotnet-gcdump/DotNetHeapDump/DotNetHeapDumpGraphReader.cs
  src/Tools/dotnet-gcdump/DotNetHeapDump/DotNetHeapInfo.cs
  src/Tools/dotnet-gcdump/DotNetHeapDump/EventPipeDotNetHeapDumper.cs
  src/Tools/dotnet-gcdump/DotNetHeapDump/GCHeapDump.cs
  src/Tools/dotnet-gcdump/DotNetHeapDump/Graph.cs
  src/Tools/dotnet-gcdump/DotNetHeapDump/MemoryGraph.cs
  src/Tools/dotnet-gcdump/DotNetHeapDump/README.md
  src/Tools/dotnet-gcdump/Program.cs
  src/Tools/dotnet-gcdump/dotnet-gcdump.csproj
Labels: diagnostic global tooling

#594 Add dotnet-gcdump to diagnostics.sln so it builds in official builds
  diagnostics.sln
Labels: diagnostic global tooling, dotnet-gcdump

#574 Draft Proposal for Diagnostics Client Library (a.k.a. "Runtime Client Library")
  documentation/design-docs/diagnostics-client-library.md
Labels: Microsoft.Diagnostics.Tools.RuntimeClient, diagnostic global tooling

#614 Fix default PID value and add rollforward forgcdump
  src/Tools/dotnet-gcdump/CommandLine/CollectCommandHandler.cs
  src/Tools/dotnet-gcdump/runtimeconfig.template.json
Labels: dotnet-gcdump

#618 add eventpipe test harness
  .gitignore
  diagnostics.sln
  eng/Version.Details.xml
  eng/Versions.props
  eng/build.yml
  src/tests/eventpipe/EventPipe.UnitTests.csproj
  src/tests/eventpipe/README.md
  src/tests/eventpipe/common/IpcTraceTest.cs
  src/tests/eventpipe/common/RemoteTestExecutorHelper.cs
  src/tests/eventpipe/common/StreamProxy.cs
  src/tests/eventpipe/providers.cs
Labels: engineering, testing

#642 Make dotnet-counters aware of DisplayUnits
  src/Tools/dotnet-counters/CounterPayload.cs
  src/tests/dotnet-counters/CSVExporterTests.cs
  src/tests/dotnet-counters/JSONExporterTests.cs
  src/tests/dotnet-counters/TestHelpers.cs
Labels: dotnet-counters

#639 Test 3.1 runtime, stop testing on 1.1 and 2.2
  eng/install-test-runtimes.ps1
  eng/install-test-runtimes.sh
  src/SOS/SOS.UnitTests/ConfigFiles/Unix/Debugger.Tests.Config.txt
  src/SOS/SOS.UnitTests/ConfigFiles/Windows/Debugger.Tests.Config.txt
  src/SOS/Strike/sosdocs.txt
  src/SOS/Strike/sosdocsunix.txt
Labels: engineering

#644 Avoid exceptions when console is not available
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: dotnet-trace
