Repository dotnet/diagnostics, pull requests merged in 2019-08, with the labels that each got.

#415 Update TraceEvent version
  eng/Versions.props
Labels: diagnostic global tooling

#416 Removing Provider GUID references from EventPipe related files.
  documentation/design-docs/dotnet-tools.md
  documentation/dotnet-trace-instructions.md
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: dotnet-trace

#433 Fix IncrementingCounter payload generation
  src/Tools/dotnet-counters/CounterMonitor.cs
  src/Tools/dotnet-counters/CounterPayload.cs
Labels: diagnostic global tooling, dotnet-counters

#435 Add Windows PE reading to dotnet-dump
  src/SOS/SOS.Hosting/SOSHost.cs
  src/SOS/SOS.Hosting/dbgeng/DebugDataSpaces.cs
  src/SOS/SOS.NETCore/SymbolReader.cs
  src/SOS/SOS.NETCore/Tracer.cs
  src/SOS/Strike/hostcoreclr.cpp
  src/SOS/Strike/hostcoreclr.h
  src/Tools/dotnet-dump/Analyzer.cs
  src/Tools/dotnet-dump/Commands/LoggingCommand.cs
Labels: dotnet-dump

#431 Remove double escape in provider filter strings
  documentation/dotnet-trace-instructions.md
  src/Microsoft.Diagnostics.Tools.RuntimeClient/Eventing/Provider.cs
Labels: diagnostic global tooling, documentation, dotnet-trace

#437 Add ReJIT information to !DumpMD
  src/SOS/Strike/strike.cpp
  src/SOS/Strike/util.cpp
  src/SOS/Strike/util.h
  src/inc/dacprivate.h
  src/inc/sospriv.idl
  src/pal/prebuilt/idl/sospriv_i.cpp
  src/pal/prebuilt/inc/sospriv.h
Labels: dotnet-sos

#443 Improve output formatting and fix bugs in dotnet-counters
  src/Tools/dotnet-counters/ConsoleWriter.cs
  src/Tools/dotnet-counters/CounterMonitor.cs
  src/Tools/dotnet-counters/CounterPayload.cs
Labels: dotnet-counters, enhancement

#446 Fix issue #280: statics not displayed correctly in DumpObj command
  README.md
  documentation/dotnet-dump-instructions.md
  src/SOS/SOS.UnitTests/Debuggees/GCWhere/GCWhere.cs
  src/SOS/SOS.UnitTests/SOSRunner.cs
  src/SOS/SOS.UnitTests/Scripts/GCTests.script
  src/SOS/SOS.UnitTests/Scripts/StackAndOtherTests.script
  src/SOS/SOS.UnitTests/Scripts/StackTests.script
  src/SOS/Strike/util.cpp
  src/Tools/dotnet-dump/Commands/SOSCommand.cs
Labels: bug
