Repository dotnet/diagnostics, pull requests merged in 2020-11, with the labels that each got.

#1693 Add using the DOTNET_ROOT env var to find host runtime
  src/SOS/Strike/hostcoreclr.cpp
Labels: auto-merge

#1696 Add proposal spec for dotnet-stack tool
  documentation/design-docs/dotnet-tools.md
Labels: diagnostic global tooling, documentation, enhancement

#1700 Use SOS_PTR(x) when using %p with varargs
  eng/Build-Native.cmd
  src/SOS/Strike/strike.cpp
Labels: dotnet-dump, sos

#1704 Clean up reversed server sockets upon exit
  src/Tools/Common/ReversedServerHelpers/ReversedServerHelpers.cs
  src/Tools/dotnet-counters/CounterMonitor.cs
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: dotnet-counters, dotnet-trace

#1681 Add instructions on dotnet-counter and dotnet-trace usage at startup
  documentation/dotnet-counters-instructions.md
  documentation/dotnet-trace-instructions.md
Labels: documentation, dotnet-counters, dotnet-trace

#1714 [Test PR] Stabilize CIs
  src/SOS/SOS.UnitTests/Scripts/lldbhelper.py
  src/tests/Microsoft.Diagnostics.NETCore.Client/EventPipeSessionTests.cs
  src/tests/Microsoft.Diagnostics.NETCore.Client/GetProcessEnvironmentTests.cs
  src/tests/Microsoft.Diagnostics.NETCore.Client/GetPublishedProcessesTests.cs
  src/tests/Microsoft.Diagnostics.NETCore.Client/TestRunner.cs
  src/tests/Microsoft.Diagnostics.NETCore.Client/WriteDumpTests.cs
Labels: testing

#1707 Implemented extended error processing for attaching to .NET Core 3.1 on macOS.
  src/Microsoft.Diagnostics.NETCore.Client/DiagnosticsClient/DiagnosticsClient.cs
  src/Microsoft.Diagnostics.NETCore.Client/DiagnosticsClient/DiagnosticsClientExceptions.cs
  src/Tools/dotnet-dump/Analyzer.cs
  src/Tools/dotnet-dump/Dumper.cs
  src/tests/Microsoft.Diagnostics.NETCore.Client/WriteDumpTests.cs
Labels: Microsoft.Diagnostics.NETCore.Client

#1717 Increase timeout for dotnet monitor tests to a minute
  src/tests/Microsoft.Diagnostics.NETCore.Client/RemoteTestExecution.cs
Labels: testing

#1713 Add support for configuration of custom metrics
  src/Microsoft.Diagnostics.Monitoring.RestServer/MetricsOptions.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/MetricsService.cs
  src/Tools/dotnet-monitor/DiagnosticsMonitorCommandHandler.cs
  src/Tools/dotnet-monitor/ServiceCollectionExtensions.cs
Labels: dotnet-monitor

#1712 Use VS insertion package instead of Microsoft.NETCore.App package for non-shipping version.
  eng/InstallRuntimes.proj
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: auto-merge

#1694 Update IPC design doc
  documentation/design-docs/ipc-protocol.md
Labels: auto-merge, documentation

#1735 Change ReleaseTool fileshare retry logic
  eng/release/DiagnosticsReleaseTool/Common/FileSharePublisher.cs
  eng/release/DiagnosticsReleaseTool/Core/Release.cs
Labels: auto-merge

#1691 Implement --diagnostic-port option to dotnet-counters collect/monitor
  src/Tools/Common/Commands/Utils.cs
  src/Tools/Common/ReversedServerHelpers/ReversedServerHelpers.cs
  src/Tools/dotnet-counters/CounterMonitor.cs
  src/Tools/dotnet-counters/Program.cs
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: dotnet-counters, dotnet-trace

#1739 Increase timeout on EventPipeSession tests
  src/tests/Microsoft.Diagnostics.NETCore.Client/EventPipeSessionTests.cs
Labels: CI Stability, testing

#1734 Update to test 3.1.10/3.1.24 runtimes and build with 5.0.100 SDK
  eng/Versions.props
  global.json
Labels: auto-merge

#1750 Disable MacOS createdump testing for 5.0
  src/SOS/SOS.UnitTests/SOS.cs
Labels: auto-merge

#1757 Link the official documentation in the dev versions of the docs for all CLI tools
  documentation/dotnet-counters-instructions.md
  documentation/dotnet-dump-instructions.md
  documentation/dotnet-gcdump-instructions.md
  documentation/dotnet-trace-instructions.md
Labels: documentation

#1777 Fix issue where command line was not reported for .NET Core 3.X runtimes
  src/Microsoft.Diagnostics.Monitoring.RestServer/DiagnosticServices.cs
Labels: dotnet-monitor

#1776 Refactor pipeline mode details into pipeline implementations.
  src/Microsoft.Diagnostics.Monitoring.EventPipe/Counters/EventCounterPipeline.cs
  src/Microsoft.Diagnostics.Monitoring.EventPipe/DiagnosticsEventPipeProcessor.cs
  src/Microsoft.Diagnostics.Monitoring.EventPipe/DiagnosticsMonitor.cs
  src/Microsoft.Diagnostics.Monitoring.EventPipe/EventPipeStreamProvider.cs
  src/Microsoft.Diagnostics.Monitoring.EventPipe/EventSourcePipeline.cs
  src/Microsoft.Diagnostics.Monitoring.EventPipe/GCDump/EventGCDumpPipeline.cs
  src/Microsoft.Diagnostics.Monitoring.EventPipe/Logs/EventLogsPipeline.cs
  src/Microsoft.Diagnostics.Monitoring.EventPipe/PipeMode.cs
  src/Microsoft.Diagnostics.Monitoring.EventPipe/ProcessInfo/EventProcessInfoPipeline.cs
  src/Microsoft.Diagnostics.Monitoring.EventPipe/Trace/EventTracePipeline.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/MetricsService.cs
Labels: dotnet-monitor

#1702 Add dotnet-stack tool
  diagnostics.sln
  documentation/design-docs/dotnet-tools.md
  eng/release/tool-list.json
  src/Tools/dotnet-stack/Program.cs
  src/Tools/dotnet-stack/ReportCommand.cs
  src/Tools/dotnet-stack/dotnet-stack.csproj
  src/Tools/dotnet-stack/runtimeconfig.template.json
  src/tests/Microsoft.Diagnostics.NETCore.Client/Microsoft.Diagnostics.NETCore.Client.UnitTests.csproj
  src/tests/StackTracee/Program.cs
  src/tests/StackTracee/StackTracee.csproj
  src/tests/dotnet-stack/DotnetStack.UnitTests.csproj
  src/tests/dotnet-stack/StackTests.cs
Labels: auto-merge, diagnostic global tooling, enhancement
