Repository dotnet/diagnostics, pull requests merged in 2020-06, with the labels that each got.

#1171 Remove extrapolation from dotnet-counters
  src/Tools/dotnet-counters/CounterPayload.cs
  src/tests/dotnet-counters/CSVExporterTests.cs
  src/tests/dotnet-counters/JSONExporterTests.cs
Labels: dotnet-counters

#1174 Add text/event-stream support to /logs
  src/Microsoft.Diagnostics.Monitoring.RestServer/Controllers/DiagController.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/Controllers/DiagControllerExtensions.cs
  src/Microsoft.Diagnostics.Monitoring/Contracts/IDiagnosticServices.cs
  src/Microsoft.Diagnostics.Monitoring/DiagnosticServices.cs
  src/Microsoft.Diagnostics.Monitoring/Logging/ScopeState.cs
  src/Microsoft.Diagnostics.Monitoring/Logging/StreamingLogger.cs
  src/Tools/dotnet-monitor/DiagnosticsMonitorCommandHandler.cs
  src/tests/dotnet-monitor/DiagnosticsMonitorTests.cs
Labels: dotnet-monitor

#1201 Revert minimum SDK required
  global.json
Labels: auto-merge

#1156 Enable dotnet-monitor unit test on non-OSX platforms
  eng/Versions.props
  src/tests/dotnet-monitor/DiagnosticsMonitorTests.cs
Labels: auto-merge, dotnet-monitor

#1221 Set defaults for EventLevel and Keywords properties
  src/Microsoft.Diagnostics.Monitoring.RestServer/Controllers/DiagController.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/Models/EventPipeProviderEventLevel.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/Models/EventPipeProviderModel.cs
Labels: dotnet-monitor

#1220 Allow filtering on log level for logs endpoint
  src/Microsoft.Diagnostics.Monitoring.RestServer/Controllers/DiagController.cs
  src/Microsoft.Diagnostics.Monitoring/Configuration/LoggingSourceConfiguration.cs
  src/Microsoft.Diagnostics.Monitoring/Contracts/IDiagnosticServices.cs
  src/Microsoft.Diagnostics.Monitoring/DiagnosticServices.cs
  src/Microsoft.Diagnostics.Monitoring/DiagnosticsEventPipeProcessor.cs
  src/Microsoft.Diagnostics.Monitoring/Logging/StreamingLogger.cs
Labels: dotnet-monitor

#1223 Remove Exception keyword from gc-collect profile
  src/Tools/dotnet-trace/CommandLine/Commands/ListProfilesCommandHandler.cs
Labels: dotnet-trace

#1222 Remove quotations from dictionary values when populating the argument dictionary for EventPipeProvider
  src/Tools/dotnet-trace/Extensions.cs
  src/tests/dotnet-trace/ProviderParsing.cs
Labels: dotnet-trace

#1211 Generate checksums for NuGet packages after building/signing.
  diagnostics.yml
  eng/AfterSigning.targets
  eng/Publishing.props
  src/Directory.Build.targets
  src/Tools/dotnet-monitor/dotnet-monitor.csproj
Labels: dotnet-monitor, engineering

#1237 Set dotnet-monitor to Preview 1
  src/Tools/dotnet-monitor/dotnet-monitor.csproj
Labels: dotnet-monitor

#1231 Upload NuGet packages with blob group to installers blob feed
  eng/Publishing.props
  src/Directory.Build.targets
Labels: dotnet-monitor, engineering

#1249 Fix up SOS PrintManagedFrameContext
  src/SOS/Strike/exts.h
  src/SOS/Strike/strike.cpp
Labels: dotnet-dump, sos

#1250 Fix 64bit register output
  src/SOS/Strike/strike.cpp
Labels: dotnet-dump, sos

#1242 Add category metadata to ManifestArtifactData metadata instead of Category metadata
  eng/Publishing.props
Labels: dotnet-monitor, engineering

#1254 respect --buffersize flag in dotnet-trace
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: dotnet-trace

#1258 Change blob item category to uppercase.
  eng/Publishing.props
Labels: dotnet-monitor, engineering

#1256 Alias platform parameter to architecture to align to arcade
  eng/Build-Native.cmd
  eng/build.ps1
  eng/build.sh
Labels: engineering

#1265 Update dotnet-monitor to preview 2
  src/Tools/dotnet-monitor/dotnet-monitor.csproj
Labels: dotnet-monitor

#1228 Add POH to SOS commands
  src/SOS/Strike/eeheap.cpp
  src/SOS/Strike/gcroot.cpp
  src/SOS/Strike/sos.cpp
  src/SOS/Strike/sos.h
  src/SOS/Strike/strike.cpp
  src/SOS/Strike/util.h
  src/inc/sospriv.idl
  src/pal/prebuilt/inc/sospriv.h
Labels: sos

#1280 Handle 32-bit CLRDATA_ADDRESS semantics in ReadMemory
  eng/Versions.props
  src/Microsoft.Diagnostics.DebugServices/MemoryService.cs
Labels: dotnet-dump

#1290 Skip tests that invoke DumpHeap command on .NET 5 x86.
  src/SOS/SOS.UnitTests/SOS.cs
Labels: sos
