Repository dotnet/diagnostics, pull requests merged in 2020-05, with the labels that each got.

#1096 Replace duration parameters (measured in seconds) with TimeSpan.
  src/Microsoft.Diagnostics.Monitoring.RestServer/Controllers/DiagController.cs
  src/Microsoft.Diagnostics.Monitoring/Contracts/IDiagnosticServices.cs
  src/Microsoft.Diagnostics.Monitoring/DiagnosticServices.cs
  src/Microsoft.Diagnostics.Monitoring/DiagnosticsEventPipeProcessor.cs
  src/Microsoft.Diagnostics.Monitoring/DiagnosticsMonitor.cs
  src/tests/dotnet-monitor/DiagnosticsMonitorTests.cs
Labels: dotnet-monitor

#1107 Update descriptions on some runtime counters
  src/Tools/dotnet-counters/KnownData.cs
Labels: dotnet-counters

#1111 Fix dotnet-dump collect on Windows 7
  src/Tools/dotnet-dump/Dumper.Windows.cs
Labels: auto-merge

#1097 Add GC dump support to dotnet-monitor
  src/Microsoft.Diagnostics.Monitoring.RestServer/Controllers/DiagController.cs
  src/Microsoft.Diagnostics.Monitoring/Configuration/GCDumpSourceConfiguration.cs
  src/Microsoft.Diagnostics.Monitoring/Contracts/IDiagnosticServices.cs
  src/Microsoft.Diagnostics.Monitoring/DiagnosticServices.cs
  src/Microsoft.Diagnostics.Monitoring/DiagnosticsEventPipeProcessor.cs
  src/Microsoft.Diagnostics.Monitoring/DiagnosticsMonitor.cs
  src/Microsoft.Diagnostics.Monitoring/EventTaskSource.cs
  src/Microsoft.Diagnostics.Monitoring/Microsoft.Diagnostics.Monitoring.csproj
Labels: dotnet-monitor

#1119 Fix typo in diagnostics client doc
  documentation/diagnostics-client-library-instructions.md
Labels: Microsoft.Diagnostics.NETCore.Client, documentation

#1110 Minor cleanup in Monitoring dll and cleaning up unit tests
  diagnostics.sln
  eng/Versions.props
  src/Microsoft.Diagnostics.Monitoring/DiagnosticServices.cs
  src/Microsoft.Diagnostics.Monitoring/DiagnosticsEventPipeProcessor.cs
  src/Microsoft.Diagnostics.Monitoring/DiagnosticsMonitor.cs
  src/Microsoft.Diagnostics.Monitoring/Microsoft.Diagnostics.Monitoring.csproj
  src/Tools/dotnet-monitor/DiagnosticsMonitorCommandHandler.cs
  src/tests/EventPipeTracee/EventPipeTracee.csproj
  src/tests/EventPipeTracee/Program.cs
  src/tests/Grape/TestRunner.cs
  src/tests/Microsoft.Diagnostics.NETCore.Client/CommonHelper.cs
  src/tests/Microsoft.Diagnostics.NETCore.Client/TestRunner.cs
  src/tests/dotnet-monitor/DiagnosticsMonitorTests.cs
  src/tests/dotnet-monitor/DotnetMonitor.UnitTests.csproj
  src/tests/dotnet-monitor/RemoteTestExecution.cs
Labels: dotnet-monitor

#1130 Split HTTP request configuration from logging configuration.
  src/Microsoft.Diagnostics.Monitoring/Configuration/AggregateSourceConfiguration.cs
  src/Microsoft.Diagnostics.Monitoring/Configuration/HttpRequestSourceConfiguration.cs
  src/Microsoft.Diagnostics.Monitoring/Configuration/LoggingSourceConfiguration.cs
  src/Microsoft.Diagnostics.Monitoring/DiagnosticServices.cs
Labels: dotnet-monitor

#1134 Unify all nettrace endpoints into single trace endpoint.
  src/Microsoft.Diagnostics.Monitoring.RestServer/Controllers/DiagController.cs
  src/Microsoft.Diagnostics.Monitoring/Contracts/IDiagnosticServices.cs
  src/Microsoft.Diagnostics.Monitoring/DiagnosticServices.cs
Labels: dotnet-monitor

#1138 Add POST method for custom tracing.
  src/Microsoft.Diagnostics.Monitoring.RestServer/Controllers/DiagController.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/Models/EventPipeConfigurationModel.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/Models/EventPipeProviderEventLevel.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/Models/EventPipeProviderModel.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/Validation/IntegerOrHexStringAttribute.cs
  src/Microsoft.Diagnostics.Monitoring/Configuration/EventPipeProviderSourceConfiguration.cs
  src/Microsoft.Diagnostics.Monitoring/Configuration/MonitoringSourceConfiguration.cs
  src/Microsoft.Diagnostics.Monitoring/Contracts/IDiagnosticServices.cs
  src/Microsoft.Diagnostics.Monitoring/DiagnosticServices.cs
  src/Microsoft.Diagnostics.Monitoring/DiagnosticsMonitor.cs
Labels: dotnet-monitor

#1152 Generate NuGets for dotnet-monitor core and rest server assemblies.
  src/Microsoft.Diagnostics.Monitoring.RestServer/Microsoft.Diagnostics.Monitoring.RestServer.csproj
  src/Microsoft.Diagnostics.Monitoring/Microsoft.Diagnostics.Monitoring.csproj
Labels: dotnet-monitor

#1153 Update dotnet-counters list command with new counters
  src/Tools/dotnet-counters/KnownData.cs
Labels: dotnet-counters

#1157 Include musl native shim for dotnet-monitor
  src/Tools/dotnet-monitor/dotnet-monitor.csproj
Labels: dotnet-monitor

#1161 Add --name option to CLI tools
  documentation/dotnet-counters-instructions.md
  documentation/dotnet-gcdump-instructions.md
  documentation/dotnet-trace-instructions.md
  src/Tools/Common/Commands/Utils.cs
  src/Tools/dotnet-counters/CounterMonitor.cs
  src/Tools/dotnet-counters/Program.cs
  src/Tools/dotnet-counters/dotnet-counters.csproj
  src/Tools/dotnet-dump/Dumper.cs
  src/Tools/dotnet-dump/Program.cs
  src/Tools/dotnet-dump/dotnet-dump.csproj
  src/Tools/dotnet-gcdump/CommandLine/CollectCommandHandler.cs
  src/Tools/dotnet-gcdump/dotnet-gcdump.csproj
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
  src/Tools/dotnet-trace/CommandLine/Options/CommonOptions.cs
  src/Tools/dotnet-trace/dotnet-trace.csproj
Labels: dotnet-counters, dotnet-dump, dotnet-gcdump, dotnet-trace

#1148 Support for Prometheus metrics
  eng/Versions.props
  src/Microsoft.Diagnostics.Monitoring.RestServer/Controllers/DiagController.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/Controllers/DiagControllerExtensions.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/Controllers/MetricsController.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/HostRestrictionAttribute.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/MetricsService.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/MetricsStoreService.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/PrometheusConfiguration.cs
  src/Microsoft.Diagnostics.Monitoring/Contracts/IMetricsStore.cs
  src/Microsoft.Diagnostics.Monitoring/Contracts/Metric.cs
  src/Microsoft.Diagnostics.Monitoring/DiagnosticServices.cs
  src/Microsoft.Diagnostics.Monitoring/DiagnosticsEventPipeProcessor.cs
  src/Microsoft.Diagnostics.Monitoring/Logging/StreamingLogger.cs
  src/Microsoft.Diagnostics.Monitoring/Metrics/MetricsLogger.cs
  src/Microsoft.Diagnostics.Monitoring/Metrics/MetricsStore.cs
  src/Microsoft.Diagnostics.Monitoring/Microsoft.Diagnostics.Monitoring.csproj
  src/Microsoft.Diagnostics.Monitoring/RuntimeInfo.cs
  src/Tools/dotnet-monitor/ConsoleMetricsLogger.cs
  src/Tools/dotnet-monitor/DiagnosticsMonitorCommandHandler.cs
  src/Tools/dotnet-monitor/Program.cs
  src/Tools/dotnet-monitor/Startup.cs
  src/Tools/dotnet-monitor/dotnet-monitor.csproj
  src/tests/dotnet-monitor/DiagnosticsMonitorTests.cs
Labels: dotnet-monitor

#1168 Validate Docker entrypoint is dotnet process with diagnostics transport.
  src/Microsoft.Diagnostics.Monitoring/DiagnosticServices.cs
  src/Microsoft.Diagnostics.NETCore.Client/DiagnosticsClient/DiagnosticsClient.cs
  src/Microsoft.Diagnostics.NETCore.Client/DiagnosticsIpc/IpcClient.cs
  src/tests/Microsoft.Diagnostics.NETCore.Client/GetPublishedProcessesTests.cs
Labels: dotnet-monitor
