Repository dotnet/diagnostics, pull requests merged in 2020-10, with the labels that each got.

#1625 Fix typo in CLR provider keyword
  src/Tools/dotnet-trace/Extensions.cs
Labels: dotnet-trace

#1574 Add osx-arm64 to packges/CI
  diagnostics.yml
  eng/build.yml
  src/SOS/SOS.Package/SOS.Symbol.Package.csproj
  src/sos-packaging.props
Labels: arm64, dotnet-sos, sos

#1642 Port cross oxs-arm64 build support from runtime
  eng/build.sh
  eng/cross/tryrun.cmake
  eng/gen-buildsys-clang.sh
  src/pal/src/config.h.in
  src/pal/src/configure.cmake
  src/pal/src/include/pal/misc.h
  src/pal/src/init/pal.cpp
  src/pal/src/misc/time.cpp
Labels: arm64, engineering

#1635 Enable dotnet-trace and dotnet-counters collection from startup
  src/Microsoft.Diagnostics.NETCore.Client/DiagnosticsClient/EventPipeSession.cs
  src/Microsoft.Diagnostics.NETCore.Client/Microsoft.Diagnostics.NETCore.Client.csproj
  src/Tools/Common/ReversedServerHelpers/ReversedServerHelpers.cs
  src/Tools/dotnet-counters/CounterMonitor.cs
  src/Tools/dotnet-counters/Program.cs
  src/Tools/dotnet-counters/dotnet-counters.csproj
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
  src/Tools/dotnet-trace/Program.cs
  src/Tools/dotnet-trace/dotnet-trace.csproj
  src/tests/dotnet-counters/CounterMonitorTests.cs
Labels: dotnet-counters, dotnet-trace

#1646 Increase IpcClient connect timeout for resource constrained environments
  src/Microsoft.Diagnostics.NETCore.Client/DiagnosticsIpc/IpcClient.cs
Labels: testing

#1647 Rename reversed-server-address arg to diagnostic-port.
  src/Tools/dotnet-monitor/DiagnosticsMonitorCommandHandler.cs
  src/Tools/dotnet-monitor/Program.cs
Labels: dotnet-monitor

#1676 Move to V3 Publishing
  diagnostics.yml
  eng/Publishing.props
Labels: auto-merge

#1672 Standardize and simplify dotnet-monitor options naming.
  src/Microsoft.Diagnostics.Monitoring.RestServer/Controllers/MetricsController.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/HostRestrictionAttribute.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/MetricsOptions.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/MetricsService.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/MetricsStoreService.cs
  src/Tools/dotnet-monitor/DiagnosticPortOptions.cs
  src/Tools/dotnet-monitor/DiagnosticsMonitorCommandHandler.cs
  src/Tools/dotnet-monitor/FilteredEndpointInfoSource.cs
  src/Tools/dotnet-monitor/Startup.cs
Labels: dotnet-monitor

#1680 Document changes to reverse server in ipc protocol doc
  documentation/design-docs/ipc-protocol.md
Labels: documentation
