Repository dotnet/diagnostics, pull requests merged in 2020-08, with the labels that each got.

#1348 Allow dotnet-trace to be used while the input/output is redirected
  src/Tools/Common/Commands/Utils.cs
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: dotnet-trace

#1369 Add --runtime-version flag to dotnet-counters list command
  src/Tools/dotnet-counters/CounterProvider.cs
  src/Tools/dotnet-counters/KnownData.cs
  src/Tools/dotnet-counters/Program.cs
Labels: dotnet-counters

#1404 Add GC heap fragmentation counter to known list of counters
  src/Tools/dotnet-counters/KnownData.cs
Labels: dotnet-counters

#1414 Allow process selection using runtime instance cookie.
  src/Microsoft.Diagnostics.Monitoring.RestServer/Controllers/DiagController.cs
  src/Microsoft.Diagnostics.Monitoring.RestServer/MetricsService.cs
  src/Microsoft.Diagnostics.Monitoring/Contracts/IDiagnosticServices.cs
  src/Microsoft.Diagnostics.Monitoring/Contracts/ProcessFilter.cs
  src/Microsoft.Diagnostics.Monitoring/DiagnosticServices.cs
  src/Tools/dotnet-monitor/Startup.cs
Labels: dotnet-monitor, enhancement

#1415 Update incorrect TraceEvent usage in diagnostics client library docs
  documentation/design-docs/diagnostics-client-library.md
Labels: documentation

#1437 Fix module lookup by name
  src/SOS/Strike/util.cpp
  src/SOS/Strike/util.h
Labels: auto-merge, sos

#1433 Fix diagnostics client test hang in CentOS
  src/tests/Microsoft.Diagnostics.NETCore.Client/EventPipeSessionTests.cs
Labels: auto-merge, testing

#1444 Fix metrics snapshot to prevent modified collection exception.
  src/Microsoft.Diagnostics.Monitoring/Metrics/MetricsStore.cs
Labels: dotnet-monitor

#1443 Use markdown link syntax
  documentation/dotnet-gcdump-instructions.md
Labels: auto-merge

#1445 Handle target process ending before user input
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: auto-merge, dotnet-trace

#1417 Separate accepting new connections from loop that listens for all connections.
  src/Microsoft.Diagnostics.Monitoring/ServerEndpointInfoSource.cs
  src/Microsoft.Diagnostics.Monitoring/ServiceCollectionExtensions.cs
  src/Microsoft.Diagnostics.NETCore.Client/Microsoft.Diagnostics.NETCore.Client.csproj
  src/Microsoft.Diagnostics.NETCore.Client/ReversedServer/ReversedDiagnosticsServer.cs
  src/tests/Microsoft.Diagnostics.NETCore.Client/ReversedServerTests.cs
  src/tests/dotnet-monitor/EndpointInfoSourceTests.cs
Labels: Microsoft.Diagnostics.NETCore.Client, enhancement

#1420 Build dotnet-monitor tool as ASP.NET Core 3.1 application.
  src/Microsoft.Diagnostics.Monitoring.RestServer/Microsoft.Diagnostics.Monitoring.RestServer.csproj
  src/Microsoft.Diagnostics.Monitoring.RestServer/Models/EventPipeProviderModel.cs
  src/Microsoft.Diagnostics.Monitoring/RuntimeInfo.cs
  src/Microsoft.Diagnostics.Monitoring/ServiceCollectionExtensions.cs
  src/Microsoft.Diagnostics.NETCore.Client/DiagnosticsClient/DiagnosticsClient.cs
  src/Microsoft.Diagnostics.NETCore.Client/DiagnosticsIpc/ProcessInfo.cs
  src/Microsoft.Diagnostics.NETCore.Client/Microsoft.Diagnostics.NETCore.Client.csproj
  src/Tools/dotnet-monitor/DiagnosticPortConfiguration.cs
  src/Tools/dotnet-monitor/DiagnosticsMonitorCommandHandler.cs
  src/Tools/dotnet-monitor/FilteredEndpointInfoSource.cs
  src/Tools/dotnet-monitor/FilteredEndpointInfoSourceHostedService.cs
  src/Tools/dotnet-monitor/Startup.cs
  src/Tools/dotnet-monitor/dotnet-monitor.csproj
  src/Tools/dotnet-monitor/runtimeconfig.template.json
Labels: dotnet-monitor
