Repository dotnet/diagnostics, pull requests merged in 2020-07, with the labels that each got.

#1322 Catch ServerNotAvailableException being thrown on non-abrupt exits of target app
  src/Tools/dotnet-counters/CounterMonitor.cs
Labels: dotnet-counters

#1284 Add SOS DumpALC command
  src/SOS/Strike/sos.def
  src/SOS/Strike/sos_unixexports.src
  src/SOS/Strike/sosdocs.txt
  src/SOS/Strike/sosdocsunix.txt
  src/SOS/Strike/strike.cpp
  src/SOS/lldbplugin/soscommand.cpp
  src/Tools/dotnet-dump/Commands/SOSCommand.cs
  src/inc/sospriv.idl
  src/pal/prebuilt/idl/sospriv_i.cpp
  src/pal/prebuilt/inc/sospriv.h
Labels: sos

#1333 Update dependencies from https://github.com/dotnet/symstore build 202…
  eng/Version.Details.xml
  eng/Versions.props
Labels: dotnet-dump

#1360 Add check for the breaking change version with the new ISOSDacInterface9 interface
  src/SOS/Strike/strike.cpp
  src/SOS/Strike/util.cpp
  src/SOS/Strike/util.h
  src/inc/sospriv.idl
  src/pal/prebuilt/idl/sospriv_i.cpp
  src/pal/prebuilt/inc/sospriv.h
Labels: auto-merge

#1359 Add proper error type to /logs call. This produces a clear json error…
  src/Microsoft.Diagnostics.Monitoring.RestServer/Controllers/DiagController.cs
Labels: dotnet-monitor

#1366 Add overload for starting EventPipe session with a single EventPipeProvider
  documentation/diagnostics-client-library-instructions.md
  src/Microsoft.Diagnostics.NETCore.Client/DiagnosticsClient/DiagnosticsClient.cs
  src/tests/Microsoft.Diagnostics.NETCore.Client/EventPipeSessionTests.cs
Labels: Microsoft.Diagnostics.NETCore.Client

#1350 Add ResumeRuntime, ProcessInfo, and Advertise Protocol to Diagnostics IPC spec
  documentation/design-docs/ipc-protocol.md
Labels: documentation

#1365 Add System.Net.Http and Kestrel counters to list of well-known counters
  src/Tools/dotnet-counters/KnownData.cs
Labels: dotnet-counters

#1367 Fix a potential NullReferenceException when counter session hasn't started yet
  src/Tools/dotnet-counters/CounterMonitor.cs
Labels: bug, dotnet-counters

#1364 Better formatting for incrementing counters
  src/Tools/dotnet-counters/CounterPayload.cs
  src/tests/dotnet-counters/CSVExporterTests.cs
  src/tests/dotnet-counters/JSONExporterTests.cs
Labels: dotnet-counters, enhancement

#1377 Add support for CORS
  src/Microsoft.Diagnostics.Monitoring.RestServer/CorsConfiguration.cs
  src/Tools/dotnet-monitor/Startup.cs
Labels: dotnet-monitor

#1257 Simplify dotnet-trace main loop
  src/Tools/Common/Commands/Utils.cs
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: auto-merge, dotnet-trace
