Repository dotnet/diagnostics, pull requests merged in 2020-12, with the labels that each got.

#1801 Create and publish nupkg version files
  eng/Publishing.props
  src/Directory.Build.targets
Labels: dotnet-monitor

#1814 Update diagnostics IPC protocol doc
  documentation/design-docs/ipc-protocol.md
Labels: documentation

#1815 Update outdated known counter descriptions
  src/Tools/dotnet-counters/KnownData.cs
Labels: dotnet-counters

#1831 Fix clru
  src/SOS/Strike/sildasm.cpp
  src/inc/corhlpr.cpp
Labels: dotnet-sos

#1819 Add warning message to dotnet-monitor
  src/Tools/dotnet-monitor/Program.cs
Labels: dotnet-monitor

#542 Update --providers help text with details on filter strings
  documentation/dotnet-trace-instructions.md
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: documentation, dotnet-trace, priority:1

#1849 Set monitoring library versions to 5.0.X
  src/Microsoft.Diagnostics.Monitoring.EventPipe/Microsoft.Diagnostics.Monitoring.EventPipe.csproj
  src/Microsoft.Diagnostics.Monitoring.RestServer/Microsoft.Diagnostics.Monitoring.RestServer.csproj
  src/Microsoft.Diagnostics.Monitoring/Microsoft.Diagnostics.Monitoring.csproj
Labels: dotnet-monitor

#1855 Fix the default message written to console when no --counters is specified
  src/Tools/dotnet-counters/CounterMonitor.cs
Labels: dotnet-counters
