Repository dotnet/diagnostics, pull requests merged in 2020-01, with the labels that each got.

#729 Some misc fixes to counters doc
  documentation/design-docs/eventcounters.md
Labels: documentation

#738 Add --clrevents flag to dotnet-trace
  documentation/dotnet-trace-instructions.md
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
  src/Tools/dotnet-trace/Extensions.cs
  src/tests/dotnet-trace/CLRProviderParsing.cs
Labels: dotnet-trace, enhancement

#785 Show optimization tiers for runtime major version >= 3 (including 5)
  src/SOS/Strike/util.cpp
  src/SOS/Strike/util.h
Labels: dotnet-sos
