Repository dotnet/diagnostics, pull requests merged in 2021-07, with the labels that each got.

#2421 Fix DSRouter build break in diag client
  src/Microsoft.Diagnostics.NETCore.Client/DiagnosticsServerRouter/DiagnosticsServerRouterFactory.cs
Labels: auto-merge

#2433 Remove erroneous mentions of reverse server in comments
  src/Microsoft.Diagnostics.NETCore.Client/DiagnosticsClient/DiagnosticsClient.cs
Labels: Microsoft.Diagnostics.NETCore.Client

#2441 Fix fallback for resumeruntime
  src/Microsoft.Diagnostics.NETCore.Client/DiagnosticsClient/DiagnosticsClient.cs
  src/Tools/dotnet-counters/CounterMonitor.cs
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: bug, diagnostic global tooling

#2448 fixed dotnet-trace when output is not redirected
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: auto-merge, dotnet-trace

#2460 Update alpine image that includes lldb python support and enable tests on 6.0
  diagnostics.yml
  src/SOS/SOS.UnitTests/SOS.cs
  src/SOS/SOS.UnitTests/Scripts/NestedExceptionTest.script
  src/SOS/SOS.UnitTests/Scripts/OtherCommands.script
  src/SOS/SOS.UnitTests/Scripts/StackAndOtherTests.script
Labels: auto-merge
