Repository dotnet/diagnostics, pull requests merged in 2021-09, with the labels that each got.

#2476 In dotnet-trace/counters disposed of the server when we received ctrl+C while waiting for clients to connect. closes #2426
  src/Tools/Common/ReversedServerHelpers/ReversedServerHelpers.cs
Labels: dotnet-trace, dotnet-counters

#2569 Disabling EventLogsPipeUnitTests.TestLogsWildcardCategory and EventCounterTriggerTests.EventCounterTriggerWithEventPipePipelineTest
  src/SOS/SOS.UnitTests/Scripts/GCTests.script
  src/tests/Microsoft.Diagnostics.Monitoring.EventPipe/EventCounterTriggerTests.cs
  src/tests/Microsoft.Diagnostics.Monitoring.EventPipe/EventLogsPipelineUnitTests.cs
Labels: auto-merge

#2466 altered dotnet-counters to work with inputRedirection #2329
  src/Tools/dotnet-counters/CounterMonitor.cs
Labels: dotnet-counters

#2633 Resolve relative path in setsymbolserver -directory
  src/SOS/Strike/strike.cpp
Labels: enhancement, auto-merge, sos
