Repository dotnet/diagnostics, pull requests merged in 2021-12, with the labels that each got.

#2705 initial pull request for dotnet-trace report (topN feature)
  src/Tools/dotnet-trace/CommandLine/Commands/ReportCommand.cs
  src/Tools/dotnet-trace/CommandLine/PrintReportHelper.cs
  src/Tools/dotnet-trace/Program.cs
Labels: dotnet-trace

#2774 dotnet-trace collect --show-child-io displays child process' IO only
  src/Tools/Common/ReversedServerHelpers/ReversedServerHelpers.cs
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: dotnet-trace

#2769 Use PEFile instead of clrmd's PEImage
  eng/testassets/rebuild/TestAssets.Linux.arm64.3.1.nuspec
  eng/testassets/rebuild/TestAssets.Linux.arm64.5.0.nuspec
  eng/testassets/rebuild/TestAssets.Linux.arm64.6.0.nuspec
  eng/testassets/rebuild/TestAssets.Linux.x64.3.1.nuspec
  eng/testassets/rebuild/TestAssets.Linux.x64.5.0.nuspec
  eng/testassets/rebuild/TestAssets.Linux.x64.6.0.nuspec
  eng/testassets/rebuild/TestAssets.Windows.x64.3.1.nuspec
  eng/testassets/rebuild/TestAssets.Windows.x64.5.0.nuspec
  eng/testassets/rebuild/TestAssets.Windows.x64.6.0.nuspec
  eng/testassets/rebuild/TestAssets.Windows.x86.3.1.nuspec
  eng/testassets/rebuild/TestAssets.Windows.x86.5.0.nuspec
  eng/testassets/rebuild/TestAssets.Windows.x86.6.0.nuspec
  eng/testassets/rebuild/pack.csproj
  eng/testassets/rebuild/package.cmd
  eng/testassets/rebuild/rewritexml.cmd
  src/Microsoft.Diagnostics.DebugServices.Implementation/MetadataMappingMemoryService.cs
  src/Microsoft.Diagnostics.DebugServices.Implementation/Module.cs
  src/Microsoft.Diagnostics.DebugServices.Implementation/ModuleService.cs
  src/Microsoft.Diagnostics.DebugServices.Implementation/Utilities.cs
  src/Microsoft.Diagnostics.DebugServices/IModule.cs
  src/Microsoft.Diagnostics.DebugServices/PdbFileInfo.cs
  src/Microsoft.Diagnostics.ExtensionCommands/ClrModulesCommand.cs
  src/Microsoft.Diagnostics.ExtensionCommands/Host/ModulesCommand.cs
  src/Microsoft.Diagnostics.Repl/Console/ConsoleProvider.cs
  src/SOS/SOS.Extensions/ModuleServiceFromDebuggerServices.cs
  src/tests/Microsoft.Diagnostics.DebugServices.UnitTests/DebugServicesTests.cs
  src/tests/Microsoft.Diagnostics.DebugServices.UnitTests/Microsoft.Diagnostics.DebugServices.UnitTests.csproj
  src/tests/Microsoft.Diagnostics.DebugServices.UnitTests/TestDataWriter.cs
  test.sh
Labels: auto-merge

#2772 Move command service impl to M.D.DS.Implementation
  src/Microsoft.Diagnostics.DebugServices.Implementation/CommandService.cs
  src/Microsoft.Diagnostics.DebugServices.Implementation/Microsoft.Diagnostics.DebugServices.Implementation.csproj
  src/Microsoft.Diagnostics.DebugServices/ICommandService.cs
  src/Microsoft.Diagnostics.Repl/CharToLineConverter.cs
  src/Microsoft.Diagnostics.Repl/ConsoleService.cs
  src/Microsoft.Diagnostics.Repl/ExitCommand.cs
  src/Microsoft.Diagnostics.Repl/HelpCommand.cs
  src/Microsoft.Diagnostics.Repl/Microsoft.Diagnostics.Repl.csproj
  src/Microsoft.Diagnostics.Repl/OutputType.cs
  src/SOS/SOS.Extensions/HostServices.cs
  src/SOS/SOS.Extensions/SOS.Extensions.csproj
  src/Tools/dotnet-dump/Analyzer.cs
Labels: auto-merge

#2650 Adding dotnet-trace report (draft 2)
  documentation/design-docs/dotnet-tools.md
Labels: enhancement, documentation
