Repository dotnet/diagnostics, pull requests merged in 2021-03, with the labels that each got.

#2034 Fix process enumeration when there are stale sockets in the temp folder
  src/Microsoft.Diagnostics.Monitoring/ClientEndpointInfoSource.cs
Labels: dotnet-monitor

#2064 Dispose transport on cancellation to prevent creation of new server stream/socket on shutdown of ReversedDiagnosticsServer.
  src/Microsoft.Diagnostics.NETCore.Client/DiagnosticsIpc/IpcServerTransport.cs
  src/Microsoft.Diagnostics.NETCore.Client/ReversedServer/ReversedDiagnosticsServer.cs
  src/tests/Microsoft.Diagnostics.NETCore.Client/ReversedServerTests.cs
Labels: Microsoft.Diagnostics.NETCore.Client

#1051 Report committed size in eeheap -gc
  src/SOS/SOS.UnitTests/Scripts/GCPOH.script
  src/SOS/SOS.UnitTests/Scripts/GCTests.script
  src/SOS/Strike/eeheap.cpp
  src/SOS/Strike/strike.cpp
  src/SOS/Strike/util.h
Labels: enhancement, sos

#2108 Report committed memory as part of gcheapstat
  src/SOS/Strike/eeheap.cpp
  src/SOS/Strike/strike.cpp
  src/SOS/Strike/util.h
Labels: enhancement, sos

#2114 Fix race condition when pruning processes and add test.
  src/Microsoft.Diagnostics.Monitoring/ServerEndpointInfoSource.cs
  src/tests/Microsoft.Diagnostics.Monitoring/EndpointInfoSourceTests.cs
Labels: dotnet-monitor

#2116 Add GH pat parameter to release script
  eng/release/Scripts/AcquireBuild.ps1
Labels: engineering

#2119 Fix darc version to LKG
  eng/release/Scripts/AcquireBuild.ps1
Labels: engineering
