Repository dotnet/diagnostics, pull requests merged in 2022-04, with the labels that each got.

#2971 patch to fix dotnet-counters rendering issues
  src/Tools/dotnet-counters/CounterMonitor.cs
Labels: dotnet-counters

#2972 Fix rendering issues on dotnet-tool ps
  src/Tools/Common/Commands/ProcessStatus.cs
Labels: dotnet-trace, dotnet-counters, dotnet-dump

#2979 dotnet-tool ps case with no supported managed processes
  src/Tools/Common/Commands/ProcessStatus.cs
Labels: dotnet-trace, dotnet-counters, dotnet-dump, dotnet-stack

#2964 Rewrite DumpAsync in C#
  src/Microsoft.Diagnostics.DebugServices/IConsoleService.cs
  src/Microsoft.Diagnostics.ExtensionCommands/DumpAsyncCommand.cs
  src/Microsoft.Diagnostics.Repl/ConsoleService.cs
  src/SOS/SOS.Extensions/ConsoleServiceFromDebuggerServices.cs
  src/SOS/SOS.Extensions/DebuggerServices.cs
  src/SOS/SOS.Hosting/Commands/SOSCommand.cs
  src/SOS/SOS.UnitTests/Scripts/WebApp.script
  src/SOS/Strike/dbgengservices.cpp
  src/SOS/Strike/dbgengservices.h
  src/SOS/Strike/sosdocs.txt
  src/SOS/Strike/sosdocsunix.txt
  src/SOS/Strike/strike.cpp
  src/SOS/Strike/util.cpp
  src/SOS/inc/debuggerservices.h
  src/SOS/lldbplugin/services.cpp
  src/SOS/lldbplugin/services.h
  src/SOS/lldbplugin/soscommand.cpp
Labels: auto-merge

#3012 Create clear error messages for dotnet-trace
  src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs
Labels: dotnet-trace

#3031 Write temp files to tempdir
  src/Tools/dotnet-stack/ReportCommand.cs
Labels: bug, dotnet-stack

#3034 use viewport-relative coordinates
  src/Tools/dotnet-counters/CounterMonitor.cs
  src/Tools/dotnet-counters/Exporters/ConsoleWriter.cs
Labels: dotnet-counters
